    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: stateis('app')}">
                        <a ui-sref="app"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                    <li ng-class="{active: stateis('app.register')}" ng-if="loggedIn && kind=='CLUBOFFICIAL'">
                        <a ui-sref="app.register">Register/Edit Users</a></li>
                    <li ng-class="{active: stateis('app.competitions')}" ng-if="loggedIn">
                        <a ui-sref="app.competitions" ng-if="loggedIn && kind=='CLUBOFFICIAL'">Competitions</a>
                        <a ui-sref="app.competitions" ng-if="loggedIn && (kind=='PARENT' || kind=='ATHLETE' || kind=='AGEMANAGER')">Upcoming Events</a>
                    </li>
                    <li ng-class="{active: stateis('app.results')}" ng-if="loggedIn">
                        <a ui-sref="app.results">Results</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!loggedIn"><a ng-click="openLogin()">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a>{{username}}</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a>{{kind}}</a>
                    </li>
                    <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                    <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>         