
<div class="container">
    <div class="row row-content" ng-if="!loggedIn">
        <div class="col-xs-12">
            <h3>Little Heracles - Little Athletics Results</h3>
            <p>Heracles was a Greek God of strength, sports, athletes and health.</p>
            <p>Little Heracles Results will make it easier to record and access little athletics results.</p>
            <p>You must be logged in.</p>
            <button type="button" class="btn btn-info" ng-click="openLogin()">
                <span class="glyphicon glyphicon-log-in"></span> Login</button>
                <p>If you need to register for an account or have forgotten your username or password, 
                    please contact the administrator at
                    <i class="fa fa-envelope"></i>: <a href="mailto:tamross@gmail.com<">tamross@gmail.com</a>
                </p>
        </div>
    </div>
    <div class="row row-content" ng-if="loggedIn && kind==('CLUBOFFICIAL')">
        <div class="col-xs-12">
            <h3>Little Heracles - Little Athletics Results</h3>
            <h4>Club Records</h4>
            <p>Coming soon...</p>
        </div>
    </div>
    <div class="row row-content" ng-if="loggedIn && kind==('AGEMANAGER')">
        <div class="col-xs-12">
            <h3>Little Heracles - Little Athletics Results</h3>
            <h4>Age Group Members</h4>
            <p>Coming soon...</p>
        </div>
    </div>
    <div class="row row-content" ng-if="loggedIn && kind==('PARENT')">
        <div class="col-xs-12">
            <h3>Little Heracles - Little Athletics Results</h3>
            <h4>Personal Bests for each child</h4>
            <p>Coming soon...</p>
        </div>
    </div>
    <div class="row row-content" ng-if="loggedIn && kind==('ATHLETE')">
        <div class="col-xs-12">
            <h3>Little Heracles - Little Athletics Results</h3>
            <h4>Personal Bests</h4>
            <div ng-repeat="personalBest in personalBests">
            <p>{{personalBest.eventName}}, {{personalBest.distance}}</p>
        </div>
        </div>
    </div>
</div>
