<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <h3>Register</h3>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
            <form ng-submit="doRegister()">
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="registration.username">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="registration.password">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control input-sm" id="name" placeholder="Name" ng-model="registration.name">
                </div>
                <input type="hidden" id="kind" name="kind" value="CLUBOFFICIAL" ng-model="registration.kind">
                <div class="form-group">
                    <label class="sr-only" for="address">Address</label>
                    <input type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="registration.address">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="phone">Phone</label>
                    <input type="text" class="form-control input-sm" id="phone" placeholder="Phone" ng-model="registration.phone">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input type="text" class="form-control input-sm" id="email" placeholder="Email" ng-model="registration.email">
                </div>
                <button type="submit" class="btn btn-info btn-sm">Register</button>
            </form>
        </div>
    </div>
</div>