<div class="container">
    <div class="row row-content" ng-if="loggedIn && kind=='CLUBOFFICIAL'">
        <div class="col-xs-12">
            <h3>Register New Age Manager</h3>
            <form ng-submit="doRegister('AGEMANAGER')">
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="registration.username" ng-required="true">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="registration.password" ng-required="true">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control input-sm" id="name" placeholder="Name" ng-model="registration.name" ng-required="true">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="address">Address</label>
                    <input type="text" class="form-control input-sm" id="address" placeholder="Address" ng-model="registration.address">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="phone">Phone</label>
                    <input type="text" class="form-control input-sm" id="phone" placeholder="Phone" ng-model="registration.phone">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input type="text" class="form-control input-sm" id="email" placeholder="Email" ng-model="registration.email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="ageGroup">Age Group</label>
                    <select name="ageGroup" class="form-control input-sm" id="ageGroup" placeholder="Age Group" ng-model="registration.ageGroup" ng-required="true" ng-options="validAgeGroup for validAgeGroup in validAgeGroups">
                    <option value="">-- Age Group --</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info btn-sm">Register</button>
            </form>
        </div>
    </div>
</div>